<form style="border:1px solid #ccc" method="POST">

  <div class="container">
    {% csrf_token %}
    <p>Please fill in this form</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="username" name="username" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="email" name="email" required>

    <label for="zipcode"><b>Password</b></label>
    <input type="text" placeholder="zipcode" name="zipcode" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Submit</button>
    </div>
  </div>
</form>
